@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	padding-right: 0 !important;
	overflow: auto !important;
}

.Toastify__toast-container--top-right{
	top: 90px !important;
}

.nav_link{
	font-weight: 700;
	min-width: 120px;
	flex: 1;
	text-align: center;
	cursor: pointer;
	a{
		transition: 0.3s;
	}
	&:hover a{
		background: linear-gradient(to right, #e3c71d 0%, #ae3056 100%);
		background-clip: text;
		color: transparent;
		letter-spacing: 0.125rem;
	}
}