.avatar_container{
    cursor: pointer;
    position: relative;
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    &::before{
        content: "";
        position: absolute;
        width: 160px;
        height: 32px;
        top: calc(100% - 8px);
        right: calc(50% - 80px);
    }
    &:hover{
        .avatar_dropdown{
            display: block;
            animation: dropdown .2s ease-in forwards;
        }
    }
    .avatar{
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1;
        width: 48px;
        &:hover{
            animation: avatar .2s ease-in forwards;
        }
    }
    .avatar_dropdown{
        display: none;
        position: absolute;
        top: 66px;
        right: calc(50% - 100px);
        width: 200px;
        border-radius: 4px;
        background-color: #eee;
        overflow: hidden;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        &::before{
            content: "";
            position: absolute;
            border: 8px solid;
            border-color: transparent transparent #eee transparent;
            top: -16px;
            right: 16px;
        }
        .dropdown_item{
            display: flex;
            align-items: center;
            padding: 8px 16px;
            border-bottom: 1px solid #666;
            color: black;
            cursor: pointer;
            user-select: none;
            .dropdown_text{
                display: inline-block;
                transition: all .3s ease-in;
                margin-left: 12px;
                font-weight: 500;
            }
            &:hover{
                background-color: #666;
                color: white;
                .dropdown_text{
                    transform: translateX(8px);
                }
            }
        }
    }
}

@keyframes avatar {
    to{
        box-shadow: 0px 0px 12px 0px rgba(70, 206, 20, 0.75);
    }
}

@keyframes dropdown {
    from{
        opacity: 0;
        transform: translateY(8px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}