.feature_item{
    position: relative;
    background-color: white;
    border-radius: 0.375rem;
    height: 300px;
    transition: 0.3s;
    &:hover{
        transform: translateY(-12px);
    }
}

.feature_item_icon{
    position: absolute;
    top: -2.5rem;
    right: calc(50% - 2.5rem);
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
    border-radius: 9999px;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}