.search_container{
    background-image: url(https://res.cloudinary.com/dfvxjdtbp/image/upload/f_auto,q_auto/v1/Background/jdb1mtfxticuf3nrbixt);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    h1{
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
    }
    p{
        font-size: 1.5rem;
        font-weight: 300;
        color: white;
    }
}

.search_bar{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    border-radius: 1rem;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 12rem);
}